@import "../abstracts/mixins";
@import "../abstracts/variables";


.s-banner {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(49, 58, 87, 1);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .5;
    }
  }

  &__content {
    padding: 84px 0 182px 0;

    & .heading, & .description {
      color: $white-color;
    }
  }

  .decor-line {
    margin-top: 11px;
    margin-bottom: 23px;
  }

}

.benefit {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;


    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(3, 1fr);
      gap: 28px 16px;
    }
    @media (max-width: $breakpoint-sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__text {
    @include fontSize(15, 17);
    line-height: 1;
  }

  &__item {

  }

  &__icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto 30px auto;
    @media (max-width: $breakpoint-md) {
      width: 50px;
      height: 50px;
      margin-bottom: 15px;
    }
  }
}

.s-benefit {
  padding: 100px 0 62px 0;

  @media (max-width: $breakpoint-md) {
    padding: 50px 0 48px 0;
  }
}

.s-about {
  padding: 92px 0 103px 0;
  @media (max-width: $breakpoint-md) {
    padding: 44px 0 50px 0;
  }

  &:before {
    content: '';
    width: calc(100% - 100px);
    height: 100%;
    background: #FBF7F3;
    border-radius: 50px;
    left: 50px;
    top: 0;
    position: absolute;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      left: 0;
      border-radius: 0;
    }
  }

  & .heading {
    margin-bottom: 26px;
  }

  & .btn-transparent {
    margin-top: 50px;
  }

  & .accent-info {
    margin-bottom: 50px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }
}

.s-introduce {
  padding: 92px 0 108px 0;
  @media (max-width: 1405px) {
    padding: 45px 0;
  }
  @media (max-width: $breakpoint-md) {
    padding: 45px 0 55px 0;
  }

  & .heading {
    margin-bottom: 26px;
  }

  & .accent-info {
    margin-bottom: 30px;
  }

  & .btn {
    @media (max-width: $breakpoint-md) {
      width: 100%;
      max-width: 280px;
      &:nth-child(2) {
        margin-left: auto;
      }
    }

    &__wrap {
      margin-top: 50px;
      gap: 20px;
      @media (max-width: $breakpoint-md) {
        width: 100%;
        max-width: 360px;
        margin: 30px auto;
      }
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &__wrap {
      padding-bottom: 100%;
      // width: 130%;
      width: calc(43vw - 100px);
      min-height: 100%;
      // max-height: 800px;
      overflow: hidden;
      border-radius: 50px;
      @media (max-width: 1405px) {
        width: 100%;
      }
    }
  }

  &.--bg {
    &:before {
      content: '';
      width: calc(100% - 100px);
      height: 100%;
      background: rgba(224, 248, 245, 1);
      border-radius: 50px;
      left: 50px;
      top: 0;
      position: absolute;
      @media (max-width: 1405px) {
        width: 100%;
        left: 0;
        border-radius: 0;
      }
    }
  }

  &.--reverse {
    @media (min-width: $breakpoint-md) {
      & .s-introduce__wrap {
        flex-direction: row-reverse;
      }
      & .img__wrap {
        left: -30%;
      }
    }
  }
}


.s-accent {
  padding: 86px 0 91px 0;

  &:before {
    content: '';
    width: calc(100% - 100px);
    height: 100%;
    background: rgba(224, 248, 245, 1);
    border-radius: 50px;
    left: 50px;
    top: 0;
    position: absolute;

  }

  & .heading {
    margin-bottom: 25px;
  }

  & .accent-info {
    margin-bottom: 35px;
  }
}

.number {
  &__item {
    margin-bottom: 24px;
    @media (max-width: $breakpoint-md) {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__heading {
    color: $accent-color;
    // font-size: 70px;
    @include fontSize(50, 70);
    @media (max-width: $breakpoint-md) {

    }
  }

  &__decor {
    width: 156px;
    height: 12px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    & span {
      height: 1px;
      background-color: rgba(49, 58, 87, 0.2);
      width: 100%;

      &:nth-child(2) {
        width: 65%;
      }
    }
  }

  &__text {
    color: rgba(49, 58, 87, 1);
    @include fontSize(17, 25);
  }
}

.s-numbers {
  padding: 90px 0;
}
