@import "../abstracts/mixins";
@import "../abstracts/variables";

.blog {
  &__item {
    position: relative;
  }

  &__info {
    &-heading {
      font-size: 17px;
      color: $accent-color;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      padding-bottom: 70%;
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      margin-bottom: 13px;
    }
  }
}

.s-article-banner {
  margin-bottom: 23px;

  .kama_breadcrumbs {
    padding: 24px 0 12px 0;
    border-bottom-color: rgba(255, 255, 255, 0.1);

    a {
      color: #FDD66D;
    }

    & .kb_sep i {
      background: #FDD66D;
    }

    & .kb_title {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  & .content {
    padding: 250px 0 230px 0;

    & .title {
      color: rgba(255, 255, 255, 1);
      width: 75%;
      margin: 0 auto;
    }
  }

}

.s-blog {


  & .heading {

  }

  & .bnt-transparent {
    margin-top: 30px;
  }

  &__wrap {
    gap: 60px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    padding-bottom: 32px;
    margin-bottom: 40px;
    @media (max-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $breakpoint-md) {
      gap: 40px 15px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 360px) {
      gap: 40px 15px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  & .blog {
    &__item {
      position: relative;

      &:nth-child(4n+1) {
        &:after {
          content: '';
          width: 100vw;
          height: 1px;
          background: rgba(49, 58, 87, 0.2);
          position: absolute;
          bottom: -30px;
        }

      }

      @media (max-width: $breakpoint-xl) {
        &:nth-child(4n+1) {
          &:after {
            content: '';
            opacity: 0;
          }

        }
        &:nth-child(-3n+7) {
          &:after {
            content: '';
            width: 100vw;
            height: 1px;
            background: rgba(49, 58, 87, 0.2);
            position: absolute;
            bottom: -30px;
          }
        }
      }

    }
  }
}

.s-article {
  margin: 44px 0;
  @media (max-width: $breakpoint-md) {
    margin: 40px;
  }

  &__action {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    @media (max-width: $breakpoint-md) {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding-left: 12px;
    }
  }

  &__title {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
      &.heading.decor:after {
        height: 35px;
        top: 1px;
        transform: none;
      }
    }
  }

  &__date {
    margin-right: 8px;
    padding: 19px 20px;
    border: 1px solid #242424;
    border-radius: 100px;
    color: #1B1B1B;
  }

  &__share {
    border-radius: 100px;
    padding: 20px;
    background-color: #A59389;
    color: #fff;

    & i {
      padding-right: 20px;
      font-size: 18px;
      color: #fff;

      &:after {
        content: '';
        width: 1px;
        height: 9px;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 9px;
      }
    }
  }

  &__desc {

    @media (min-width: $breakpoint-md) {

    }
  }
}

.s-similar-articles {
  & .heading {
    margin-bottom: 33px;
  }

  & .btn-transparent {
    margin-top: 60px;
  }


  & .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }
}

.share {
  padding: 30px 0;
  border: 1px solid rgba(50, 60, 98, 0.2);
  border-width: 1px 0 1px 0;
  @media (max-width: $breakpoint-md) {
    padding: 23px 0;
  }

  &__title {
    margin-right: 18px;
    @media (max-width: $breakpoint-md) {
      max-width: 50%;
    }

  }

  & .social {
    &__item {
      @include transition(.5);
      background: #27A6E5;
      width: 40px;
      height: 40px;
      color: $white-color;

      &:hover {
        background: #0B84EE;

        & i {
          color: $white-color;
        }
      }
    }
  }
}