@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-hero {
  position: relative;
  height: 100vh;

  & .decor-line {
    margin: 59px auto 48px auto;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;

    }
  }

  &__content {
    padding-top: 242px;

    & .description {
      font-size: 30px;
      margin-bottom: 24px;
      color: $white-color;
    }

  }
}