@import "../abstracts/mixins";
@import "../abstracts/variables";

.events {
  &__item {
    background: rgba(251, 247, 243, 1);
    border-radius: 10px;
    overflow: hidden;

    &.no-bg {
      background: transparent;

      & .promotion__img-wrap {
        margin-bottom: 13px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      padding-bottom: 68%;

    }
  }

  &__info {
    padding: 13px 20px 25px 20px;
    background: rgba(251, 247, 243, 1);

    &-heading {
      color: $accent-color;
      margin-bottom: 4px;
    }

    &-date {
      color: rgba(170, 170, 170, 1);
      margin-bottom: 5px;

    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.s-events {
  &__wrap {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(49, 58, 87, 0.2);;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 360px) {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  & .heading {
    margin-bottom: 33px;
  }

  .pagination {
    margin-top: 40px;
  }

  & .btn-transparent {
    margin-top: 30px;
  }
}

.s-recommended-events {
  //padding-bottom: 100px;

  & .btn-transparent {
    margin-top: 50px;
  }

  & .heading {
    margin-bottom: 33px;
  }
}

.s-events-detail {
  & .img {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__wrap {
      padding-bottom: 50%;
      margin-bottom: 24px;
    }
  }

  & .date {
    margin-bottom: 15px;
    color: #AAAAAA;
  }

  padding-bottom: 40px;

}